
.onepage {
    max-width: 1000px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 1874px;
}

.banner {
    height: 83px;
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px 20px 0px 20px;
}

.content {
    padding: 0px 20px 0px 20px;
}

.menu {
    width: 617px;
    float: right;
    height: 40px;
    margin: 18px 0px 25px 0px;
    font-size: 13px;
}

.brand-name {
    float: left;
    padding: 12px 0px 19px 0px;
}

.content-latest {
    padding: 40px 43px 40px 20px;
}

.p1 {
    font-size: 36px;
}

.p2 {
    font-size: 22px;
    color: #9e9e9e;
}

.app {
    padding: 0px 0px 16px 0px;
    font-size: 22px;
}

.text-rectangle {
    position: absolute;
    top: 0px;
    right: 6px;
    margin: 10px 9px 16px 47px;
    font-size: 26px;
    color: #ffffff;
    line-height: 30px;
    width: 169px;
    height: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.feature {
    padding: 40px 20px 47px 20px;
}

.feature-1 {
    font-size: 22px;
    position: absolute;
    top: 0px;
    right: 30px;
    padding: 18px 11px 33px 1px;
}

.feature-2 {
    padding: 9px 1px 20px 0px;
    font-size: 13px;
    padding-top: 9px; 
}

.footer {
    background: #1c1c1c;
    height: 310px;
	padding: 23px 20px 20px 20px;
	position: relative;
	top: -42px;
	right: 0px;
}

.hr-1{
	border: 2px solid #9e9e9e;
	position: relative;
	top: -47px;
	right: 5px;
	width: 996px;
}

.info{
	position: relative;
	top: -38px;
	right: 0px;
}

.company{
    line-height: 6px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 4px;
    right: -50px;
}

.xam{
    color: #6b6b6b;
    font-family: geogria;
    font-size: 13px;
}

.trang{
    color: #b9b4b4;
    font-family: geogria;
    font-size: 13px;
}

.supmit{
    position: relative;
    top: 64px;
    right: 160px;
}
.mxh{
    line-height: 21px;
    font-size: 26px;
}

.link{
    line-height: 29px;
    font-size: 13px;
}

.ft-right{
    position: relative;
    top: 0px;
    right: -100px;
}

.licence{
	position: relative;
	top: -40px;
	right: 0px;
}

.licence-left{
    float: left;
    padding-top: 13px;
    font-size: 12px;
}

.licence-right{
    float: right;
    font-size: 12px;
    padding-top: 13px;
}

.transparent-bar {
    border: 1px solid #66c6dc;
    background: #66c6dc;
    font-size: 22px;
    padding: 9px 343px 14px 20px;
    max-height: 50px;
    color: #ffffff;
}

.next {
    position: relative;
    top: -32px;
    right: -850px;
}

.cham {
    position: relative;
    top: 17px;
    right: -630px;
}

.text {
    /* position: relative;
    top: 30px;
    right: 800px; */
    margin-left: -90px;
    color: black;
    text-align: left;
}